In [393]:
import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
import math as m
from math import cos, pi
from itertools import cycle
from sklearn import svm, datasets
from sklearn.metrics import roc_curve, auc, accuracy_score, f1_score, precision_score, recall_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_binarize
from sklearn.multiclass import OneVsRestClassifier
from scipy import interp
from io import StringIO
from datetime import datetime
from dateutil.parser import parse
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from sklearn.ensemble import GradientBoostingClassifier #For Classification
from sklearn.ensemble import GradientBoostingRegressor #For Regression

In [7]:
data = """Date,Pollster,State,Party,Est
13/03/2014, Newspoll, NSW, red, 25
13/03/2014, Newspoll, NSW, blue, 28
13/03/2014, Newspoll, Vic, red, 24
13/03/2014, Newspoll, Vic, blue, 23
13/03/2014, Galaxy, NSW, red, 23
13/03/2014, Galaxy, NSW, blue, 24
13/03/2014, Galaxy, Vic, red, 26
13/03/2014, Galaxy, Vic, blue, 25`
13/03/2014, Galaxy, Qld, red, 21
13/03/2014, Galaxy, Qld, blue, 27"""
df = pd.read_csv(StringIO(data),
header=0, skipinitialspace=True)

In [13]:
# df.pivot(columns='Pollster')
groups = pd.read_csv('/Users/user/Downloads/Scores and badges- History - History-Group .csv')
ind =    pd.read_csv('/Users/user/Downloads/Scores and badges- History - History-Individual.csv')

In [46]:
 #(groups.groupby('Group')['FreshCoins'].sum())
#temp.to_csv('/Users/user/Downloads/Groups.csv')
groups.pivot(columns='Group')``

                             Date                                          \
Group Aaru Mugam & Cereal Killers Ed Edd & Brookfields Filter fire pandis
0                         22-June                 None               None
1                            None              22-June               None
2                            None                 None            22-June
3                            None                 None               None
4                            None                 None               None
5                            None                 None               None
6                            None                 None               None
7                            None                 None               None
8                         22-June                 None               None
9                         22-June                 None               None
10                           None              22-June               None
11                           None                 None               None
12                           None                 None               None
13                           None                 None               None
14                           None                 None            22-June
15                           None                 None               None
16                           None                 None               None
17                        23-June                 None               None
18                           None              23-June               None
19                           None                 None            23-June
20                           None                 None               None
21                           None                 None               None
22                           None                 None               None
23                           None                 None               None
24                           None              23-June               None
25                           None                 None            23-June
26                           None                 None               None
27                           None                 None               None
28                           None                 None               None
29                        23-June                 None               None
..                            ...                  ...                ...
37                           None                 None               None
38                           None                 None               None
39                           None                 None               None
40                           None                 None               None
41                           None                 None               None
42                           None                 None               None
43                           None                 None               None
44                           None                 None               None
45                           None                 None               None
46                        27-June                 None               None
47                           None              27-June               None
48                           None                 None            27-June
49                           None                 None               None
50                        27-June                 None               None
51                           None                 None               None
52                        28-June                 None               None
53                           None              28-June               None
54                           None                 None            28-June
55                           None                 None               None
56                           None                 None               None
57                           None                 None               None
58                           None                 None               None
59                           None                 None               None
60                           None                 None               None
61                           None                 None               None
62                           None              28-June               None
63                           None                 None            28-June
64                        28-June                 None               None
65                           None                 None               None
66                           None                 None               None

                                                                      \
Group Forever Nameless Hodor of Sales Hodor of sales King meets Kung
0                 None           None           None            None
1                 None           None           None            None
2                 None           None           None            None
3              22-June           None           None            None
4                 None           None        22-June            None
5                 None           None           None            None
6                 None           None           None            None
7              22-June           None           None            None
8                 None           None           None            None
9                 None           None           None            None
10                None           None           None            None
11             22-June           None           None            None
12                None           None           None            None
13                None           None           None            None
14                None           None           None            None
15             23-June           None           None            None
16                None           None           None            None
17                None           None           None            None
18                None           None           None            None
19                None           None           None            None
20             23-June           None           None            None
21                None           None        23-June            None
22                None           None           None            None
23                None           None           None            None
24                None           None           None            None
25                None           None           None            None
26                None           None           None            None
27             23-June           None           None            None
28                None           None        23-June            None
29                None           None           None            None
..                 ...            ...            ...             ...
37             27-June           None           None            None
38                None           None        27-June            None
39                None           None           None            None
40                None           None           None            None
41                None           None           None            None
42                None           None           None            None
43             27-June           None           None            None
44                None           None        27-June            None
45                None           None           None            None
46                None           None           None            None
47                None           None           None            None
48                None           None           None            None
49                None           None           None            None
50                None           None           None            None
51                None           None           None            None
52                None           None           None            None
53                None           None           None            None
54                None           None           None            None
55             28-June           None           None            None
56                None           None        28-June            None
57                None           None           None            None
58                None           None           None            None
59                None           None           None            None
60                None           None           None            None
61             28-June           None           None            None
62                None           None           None            None
63                None           None           None            None
64                None           None           None            None
65                None           None        28-June            None
66                None           None           None            None

                                             Activity Type   ...     \
Group King meets kung Lionpins Aaru Mugam & Cereal Killers   ...
0                None     None                      Survey   ...
1                None     None                        None   ...
2                None     None                        None   ...
3                None     None                        None   ...
4                None     None                        None   ...
5             22-June     None                        None   ...
6                None  22-June                        None   ...
7                None     None                        None   ...
8                None     None                      Survey   ...
9                None     None                        Quiz   ...
10               None     None                        None   ...
11               None     None                        None   ...
12               None  22-June                        None   ...
13            22-June     None                        None   ...
14               None     None                        None   ...
15               None     None                        None   ...
16            23-June     None                        None   ...
17               None     None                      Survey   ...
18               None     None                        None   ...
19               None     None                        None   ...
20               None     None                        None   ...
21               None     None                        None   ...
22            23-June     None                        None   ...
23               None  23-June                        None   ...
24               None     None                        None   ...
25               None     None                        None   ...
26            23-June     None                        None   ...
27               None     None                        None   ...
28               None     None                        None   ...
29               None     None                        Quiz   ...
..                ...      ...                         ...   ...
37               None     None                        None   ...
38               None     None                        None   ...
39            27-June     None                        None   ...
40               None  27-June                        None   ...
41               None  27-June                        None   ...
42            27-June     None                        None   ...
43               None     None                        None   ...
44               None     None                        None   ...
45               None  27-June                        None   ...
46               None     None                        Quiz   ...
47               None     None                        None   ...
48               None     None                        None   ...
49            27-June     None                        None   ...
50               None     None                   Acitivity   ...
51               None  27-June                        None   ...
52               None     None                      Survey   ...
53               None     None                        None   ...
54               None     None                        None   ...
55               None     None                        None   ...
56               None     None                        None   ...
57            28-June     None                        None   ...
58               None  28-June                        None   ...
59            28-June     None                        None   ...
60               None  28-June                        None   ...
61               None     None                        None   ...
62               None     None                        None   ...
63               None     None                        None   ...
64               None     None                        Quiz   ...
65               None     None                        None   ...
66            28-June     None                        None   ...

                   Badges                   FreshCoins                       \
Group             Lionpins Aaru Mugam & Cereal Killers Ed Edd & Brookfields
0                     None                        20.0                  NaN
1                     None                         NaN                 20.0
2                     None                         NaN                  NaN
3                     None                         NaN                  NaN
4                     None                         NaN                  NaN
5                     None                         NaN                  NaN
6         Majestic Mantis'                         NaN                  NaN
7                     None                         NaN                  NaN
8                     None                        10.0                  NaN
9                     None                        30.0                  NaN
10                    None                         NaN                 30.0
11                    None                         NaN                  NaN
12                       -                         NaN                  NaN
13                    None                         NaN                  NaN
14                    None                         NaN                  NaN
15                    None                         NaN                  NaN
16                    None                         NaN                  NaN
17                    None                        20.0                  NaN
18                    None                         NaN                 20.0
19                    None                         NaN                  NaN
20                    None                         NaN                  NaN
21                    None                         NaN                  NaN
22                    None                         NaN                  NaN
23        Majestic Mantis'                         NaN                  NaN
24                    None                         NaN                 40.0
25                    None                         NaN                  NaN
26                    None                         NaN                  NaN
27                    None                         NaN                  NaN
28                    None                         NaN                  NaN
29                    None                        20.0                  NaN
..                     ...                         ...                  ...
37                    None                         NaN                  NaN
38                    None                         NaN                  NaN
39                    None                         NaN                  NaN
40        Majestic Mantis'                         NaN                  NaN
41            Wise Oogways                         NaN                  NaN
42                    None                         NaN                  NaN
43                    None                         NaN                  NaN
44                    None                         NaN                  NaN
45                       -                         NaN                  NaN
46                    None                        20.0                  NaN
47                    None                         NaN                 20.0
48                    None                         NaN                  NaN
49                    None                         NaN                  NaN
50                    None                        25.0                  NaN
51     Ferocious Tai Lungs                         NaN                  NaN
52                    None                        20.0                  NaN
53                    None                         NaN                 20.0
54                    None                         NaN                  NaN
55                    None                         NaN                  NaN
56                    None                         NaN                  NaN
57                    None                         NaN                  NaN
58        Majestic Mantis'                         NaN                  NaN
59                    None                         NaN                  NaN
60            Wise Oogways                         NaN                  NaN
61                    None                         NaN                  NaN
62                    None                         NaN                 30.0
63                    None                         NaN                  NaN
64                    None                        20.0                  NaN
65                    None                         NaN                  NaN
66                    None                         NaN                  NaN

                                                                         \
Group Filter fire pandis Forever Nameless Hodor of Sales Hodor of sales
0                    NaN              NaN            NaN            NaN
1                    NaN              NaN            NaN            NaN
2                   20.0              NaN            NaN            NaN
3                    NaN             20.0            NaN            NaN
4                    NaN              NaN            NaN           20.0
5                    NaN              NaN            NaN            NaN
6                    NaN              NaN            NaN            NaN
7                    NaN             10.0            NaN            NaN
8                    NaN              NaN            NaN            NaN
9                    NaN              NaN            NaN            NaN
10                   NaN              NaN            NaN            NaN
11                   NaN             20.0            NaN            NaN
12                   NaN              NaN            NaN            NaN
13                   NaN              NaN            NaN            NaN
14                  10.0              NaN            NaN            NaN
15                   NaN             25.0            NaN            NaN
16                   NaN              NaN            NaN            NaN
17                   NaN              NaN            NaN            NaN
18                   NaN              NaN            NaN            NaN
19                  20.0              NaN            NaN            NaN
20                   NaN             20.0            NaN            NaN
21                   NaN              NaN            NaN           20.0
22                   NaN              NaN            NaN            NaN
23                   NaN              NaN            NaN            NaN
24                   NaN              NaN            NaN            NaN
25                  40.0              NaN            NaN            NaN

In [34]:
groups.columns

Index(['Date', 'Activity Type', 'Group', 'Badges ', 'FreshCoins'], dtype='object')

FD deal prediction model

In [199]:
raw_data = pd.read_csv('/Users/user/Desktop/Data Analysis/Freshsales/Raw Data/FD feature data.csv', header=None)

In [200]:
raw_data.columns = ['deal_id', 
'deal_amount',
'source_id',
'deal_type',
'related_contacts_ID',
'deal_owner_id',
'territory_id',
'deal_Stage',
'product_id',
'campaign_id',
'created_at',
'sales_account_id',
'account_amount',
'stage_updated_at',
'contact_owner_id',
'contact_has_authority',
'contact_Lead_source_id',
'contact_lead_score',
'contact_do_not_disturb',
'contact_open_deals_amount',
'contact_Lead_source_id',
'account_number_of_employees',
'account_annual_revenue',
'account_business_type_id',
'account_industry_type_id',
'account_territory_id',
'contact_associated_deal_id']

In [201]:
raw_data = raw_data.drop_duplicates(subset='related_contacts_ID')

In [202]:
raw_data1 = raw_data[(raw_data.deal_Stage == 'Won') | (raw_data.deal_Stage == 'Lost')]
                   #    = df[(df['a'] > 1) & (df['a'] < 5)]
     # . mask = df['STK_ID'].isin([4, 2, 6]) 
                     # rst = rpt[rpt['STK_ID'] in stk_list] 
            #surveys_df[(surveys_df.year >= 1980) & (surveys_df.year <= 1985)] 
            
           # train =  raw_data[(raw_data.deal_created_at == 'Won')]

In [212]:
#print(raw_data1['deal_Stage'])
#len(raw_data1)
#test = [datetime.strptime(X,'%Y-%m-%d') for X in ('2017-02-13 21:32:18\n1')]
#raw_data1['created_id'] = [datetime.strptime(X,'%Y-%m-%d') for X in raw_data1['created_id']]
#pd.to_datetime(df['date'])
#df['DateTime'] = pd.to_datetime(df['DateTime'], format='%Y%m%d', errors='ignore')
#out= datetime.strptime('2017-02-13 21:32:18\n1', '%Y-%m-%d  %H:%M')
                        #[datetime.strptime(x, '%m/%d/%Y') for x in attack_dates]
#('2017-02-13 21:32:18\n1')
#pd.to_datetime('2017-02-13 21:32:18\n1', format='%Y%m%d', errors='coerce')
#out
raw_data1['created_at_parsed'] = raw_data1['created_at'].str.extract('(....-..-.. ..:..:..)', expand=True)
raw_data1['created_at_parsed'] = pd.to_datetime(raw_data1['created_at_parsed'])
raw_data1['stage_updated_at_parsed'] = raw_data1['stage_updated_at'].str.extract('(....-..-.. ..:..:..)', expand=True)
raw_data1['stage_updated_at_parsed'] = pd.to_datetime(raw_data1['stage_updated_at_parsed'])

#raw_data1['created_id'] = pd.to_datetime(raw_data1['created_id'], format='%Y%m%d', errors='ignore')
#df['date'] = df['raw'].str.extract('(....-..-..)', expand=True)

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [225]:
raw_data1 = raw_data1[raw_data1.created_at_parsed < raw_data1.stage_updated_at_parsed ]

train = raw_data1[raw_data1.created_at_parsed < '2017-03-01'] 
test =  raw_data1[raw_data1.created_at_parsed > '2017-03-01']

In [241]:
train_features = train[['deal_id', 
'deal_amount',
'source_id',
'deal_type',
'deal_owner_id',
'territory_id',
'product_id',
'campaign_id',
'account_amount',
'contact_has_authority',
'contact_Lead_source_id',
'contact_lead_score',
'contact_do_not_disturb',
'contact_open_deals_amount',
'contact_Lead_source_id',
'account_number_of_employees',
'account_annual_revenue',
'account_business_type_id',
'account_industry_type_id',
'account_territory_id']]
# test dataset
test_features = test[['deal_id', 
'deal_amount',
'source_id',
'deal_type',
'deal_owner_id',
'territory_id',
'product_id',
'campaign_id',
'account_amount',
'contact_has_authority',
'contact_Lead_source_id',
'contact_lead_score',
'contact_do_not_disturb',
'contact_open_deals_amount',
'contact_Lead_source_id',
'account_number_of_employees',
'account_annual_revenue',
'account_business_type_id',
'account_industry_type_id',
'account_territory_id']]

In [377]:
#y = pd.factorize(train['deal_Stage'])[0]
#actual_value = pd.factorize(test['deal_Stage'])[0]
y = np.where(train['deal_Stage'] == 'Won',1,0)
actual_value = np.where(test['deal_Stage'] == 'Won',1,0)

In [329]:
#obj_train_features1 = train_features1.select_dtypes(include=['object']).copy()
#non_obj_train_features1 = train_features1.select_dtypes( include = ['object']).copy()

#lb_make = LabelEncoder()
#obj_train_features1.columns
#obj_df["make_code"] = lb_make.fit_transform(obj_df["make"])
#obj_df[["make", "make_code"]].head(11)
d = defaultdict(LabelEncoder)
# Encoding the variable
code_test = test_features.apply(lambda test_features: d[test_features.name].fit_transform(test_features))
code_train = train_features.apply(lambda train_features: d[train_features.name].fit_transform(train_features))

In [398]:
model = tree.DecisionTreeClassifier(criterion='gini') # for classification, here you can change the algorithm as gini or entropy (information gain) by default it is gini  
# model = tree.DecisionTreeRegressor() for regression
# Train the model using the training sets and check score
model.fit(code_train, y)
#model.score(X, y)
#Predict Output
predicted_decision_tree= model.predict(code_test)
#len(predicted)

In [409]:
model= RandomForestClassifier(n_estimators=1000)
# Train the model using the training sets and check score
model.fit(code_train, y)
#Predict Output
predicted_random_forest= model.predict(code_test)

In [407]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1)
clf.fit(code_train, y)
predicted_Gradient_boost= model.predict(code_test)

In [395]:
# Create confusion matrix
pd.crosstab(actual_value, predicted, rownames=['Actual value'], colnames=['Predicted value'])

Predicted value     0     1
Actual value
0                 266   391
1                9105  7438

In [408]:
print( "Decision tree- Accuracy: ", accuracy_score(actual_value, predicted_decision_tree, normalize=True, sample_weight=None)) 

print( "Decision tree- F1-Score(Weighted): ", f1_score(actual_value, predicted_decision_tree, average='weighted'))

print( "random_forest- Accuracy: ", accuracy_score(actual_value, predicted_random_forest, normalize=True, sample_weight=None)) 

print( "random_forest- F1-Score(Weighted): ", f1_score(actual_value, predicted_random_forest, average='weighted'))

print( "Gradient_boost- Accuracy: ", accuracy_score(actual_value, predicted_Gradient_boost, normalize=True, sample_weight=None)) 

print( "Gradient_boost- F1-Score(Weighted): ", f1_score(actual_value, predicted_Gradient_boost, average='weighted'))

#  f1_score(actual_value, predicted, average='weighted')

Decision tree- Accuracy:  0.448546511628
Decision tree- F1-Score(Weighted):  0.588981798578
random_forest- Accuracy:  0.743837209302
random_forest- F1-Score(Weighted):  0.82105142382
Gradient_boost- Accuracy:  0.743837209302
Gradient_boost- F1-Score(Weighted):  0.82105142382

In [415]:
#y = pd.factorize(train['deal_Stage'])[0]
#y = pd.where(train['deal_Stage'] == 'Won',0,1)

(14770 + 75)/ (14770 + 1773+ 582 + 75 )
#temp = pd.DataFrame(actual_value)
#temp.columns = ['col1']
print ("Train- won deals", len(train[train['deal_Stage'] == 'Won']))
print ( "Train- lost deals", len(train[train['deal_Stage'] == 'Lost']))
#print ( 1- 657 / (14770 + 1773+ 582 + 75 ))
#len(test)

16543/(16543 + 657)

Train- won deals 95598
Train- lost deals 2574

0.9618023255813953

In [272]:
train_features1['source_id'] = np.where(train_features1['source_id'] == '\\N','',train_features1['source_id'])
train_features1['deal_type'] = np.where(train_features1['deal_type'] == '\\N','',train_features1['deal_type'])
train_features1['deal_owner_id'] = np.where(train_features1['deal_owner_id'] == '\\N','',train_features1['deal_owner_id'])
train_features1['territory_id'] = np.where(train_features1['territory_id'] == '\\N','',train_features1['territory_id'])
train_features1['product_id'] = np.where(train_features1['product_id'] == '\\N','',train_features1['product_id'])
train_features1['campaign_id'] = np.where(train_features1['campaign_id'] == '\\N','',train_features1['campaign_id'])
#train_features1['account_amount'] = np.where(train_features1['account_amount'] == '\\N','',train_features1['account_amount'])
#train_features1['contact_has_authority'] = np.where(train_features1['contact_has_authority'] == '\\N','',train_features1['contact_has_authority'])
train_features1['contact_Lead_source_id'] = np.where(train_features1['contact_Lead_source_id'] == '\\N','',train_features1['contact_Lead_source_id'])
#train_features1['contact_lead_score'] = np.where(train_features1['contact_lead_score'] == '\\N','',train_features1['contact_lead_score'])
#train_features1['contact_do_not_disturb'] = np.where(train_features1['contact_do_not_disturb'] == '\\N','',train_features1['contact_do_not_disturb'])
#train_features1['contact_open_deals_amount'] = np.where(train_features1['contact_open_deals_amount'] == '\\N','',train_features1['contact_open_deals_amount'])
train_features1['contact_Lead_source_id'] = np.where(train_features1['contact_Lead_source_id'] == '\\N','',train_features1['contact_Lead_source_id'])
train_features1['account_number_of_employees'] = np.where(train_features1['account_number_of_employees'] == '\\N','',train_features1['account_number_of_employees'])
train_features1['account_annual_revenue'] = np.where(train_features1['account_annual_revenue'] == '\\N','',train_features1['account_annual_revenue'])
train_features1['account_business_type_id'] = np.where(train_features1['account_business_type_id'] == '\\N','',train_features1['account_business_type_id'])
train_features1['account_industry_type_id'] = np.where(train_features1['account_industry_type_id'] == '\\N','',train_features1['account_industry_type_id'])
train_features1['account_territory_id'] = np.where(train_features1['account_territory_id'] == '\\N','',train_features1['account_territory_id'])

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
test[['deal_id', 
'deal_amount',
'source_id',
'deal_type',
'deal_owner_id',
'territory_id',
'product_id',
'campaign_id',
'account_amount',
'contact_has_authority',
'contact_Lead_source_id',
'contact_lead_score',
'contact_do_not_disturb',
'contact_open_deals_amount',
'contact_Lead_source_id',
'account_number_of_employees',
'account_annual_revenue',
'account_business_type_id',
'account_industry_type_id',
'account_territory_id']]


## object fields 
'deal_id', 'source_id', 'deal_type', 'deal_owner_id', 'territory_id',
       'product_id', 'campaign_id', 'contact_Lead_source_id',
       'contact_Lead_source_id', 'contact_Lead_source_id',
       'contact_Lead_source_id', 'account_number_of_employees',
       'account_annual_revenue', 'account_business_type_id',
       'account_industry_type_id', 'account_territory_id'

In [291]:

lb_make = LabelEncoder()
obj_train_features1['source_id_code']= lb_make.fit_transform(obj_train_features1['source_id'])
#obj_train_features1['source_id','source_id_code']
#obj_df[["make", "make_code"]].head(11)
obj_train_features1.head()

,deal_id,source_id,deal_type,deal_owner_id,territory_id,product_id,campaign_id,contact_Lead_source_id,contact_Lead_source_id,contact_Lead_source_id,contact_Lead_source_id,account_number_of_employees,account_annual_revenue,account_business_type_id,account_industry_type_id,account_territory_id,source_id_code
0,73351b63a82e656125a3861d5aca2d2a6354964ef7b4ea...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,424ecb629e41219fd1047409552222021739827ff6d9bf...,10019088bf99d78b83aa1d4472b941b11845701ed7b3b1...,75d6c30085c21c2b1173b3bfccfbe1ce1e9a238923e227...,06587e7973a8b2238994355216fb1778f044c5aa355a76...,b19196c417d635dac246a34986d3d36d2cc9d95a1a4806...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,,,,,75d6c30085c21c2b1173b3bfccfbe1ce1e9a238923e227...,42
1,d24071e45190a0dd0e04aebd7cbe05d3cba99984ccd4e1...,,424ecb629e41219fd1047409552222021739827ff6d9bf...,f38c0cad280982f25742fed54f4a3805728f089eaadab2...,,06587e7973a8b2238994355216fb1778f044c5aa355a76...,,,,,,,,,,,0
2,235071f05dce2609d4f478ac5b04dc226591d1fe616b72...,,424ecb629e41219fd1047409552222021739827ff6d9bf...,,8fad718cf3325925b5569a0e9df6f8b734f4ff0038d2a4...,06587e7973a8b2238994355216fb1778f044c5aa355a76...,,,,,,,,,,8fad718cf3325925b5569a0e9df6f8b734f4ff0038d2a4...,0
4,ffeac661824f35739f2b6fe46fd7bb7b0ecd6d69319500...,,424ecb629e41219fd1047409552222021739827ff6d9bf...,24a277626867959eefefc9afb1225aff5e5329c8d11a9c...,785bf95dd6882c949b0e5bb36373927411c0926b0dd8ce...,06587e7973a8b2238994355216fb1778f044c5aa355a76...,,,,,,,,,,785bf95dd6882c949b0e5bb36373927411c0926b0dd8ce...,0
11,7eb951ccbc43414598d3b165b49270b33984c09f81debc...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,424ecb629e41219fd1047409552222021739827ff6d9bf...,7f54e2d868c8562f822d7a2f35e3324716b07c0b290092...,1457942d8fc315193616e50828d42a34c21823bf745e99...,06587e7973a8b2238994355216fb1778f044c5aa355a76...,b19196c417d635dac246a34986d3d36d2cc9d95a1a4806...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,e999ef72ce791eed3c2a72ebf83e47d54718d7dd84fe47...,,,,,1457942d8fc315193616e50828d42a34c21823bf745e99...,42

In [325]:
le=LabelEncoder()
# Iterating over all the common columns in train and test
for col in test_features.columns.values:
       # Encoding only categorical variables
    print (test_features[col].dtypes)
    if test_features[col].dtypes == 'object':
     print("inside if")   
       # Using whole data to form an exhaustive list of levels
     data=train_features[col].append(test_features[col])
     le.fit(data.values)
     train_features[col]=le.transform(train_features[col])
     test_features[col]=le.transform(test_features[col])

int64
float64
int64
int64
int64
int64
int64
int64
float64
int64
contact_Lead_source_id    object
contact_Lead_source_id    object
contact_Lead_source_id    object
contact_Lead_source_id    object
dtype: object

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [312]:
 test_features.columns.to_series().groupby(test_features.dtypes).groups

{dtype('int64'): Index(['deal_id', 'source_id', 'deal_type', 'deal_owner_id', 'territory_id',
        'product_id', 'campaign_id', 'contact_has_authority',
        'contact_lead_score', 'contact_do_not_disturb'],
       dtype='object'),
 dtype('float64'): Index(['deal_amount', 'account_amount', 'contact_open_deals_amount'], dtype='object'),
 dtype('O'): Index(['contact_Lead_source_id', 'contact_Lead_source_id',
        'contact_Lead_source_id', 'contact_Lead_source_id',
        'account_number_of_employees', 'account_annual_revenue',
        'account_business_type_id', 'account_industry_type_id',
        'account_territory_id'],
       dtype='object')}

In [337]:
#raw_data.head()
#len(raw_data1)
#raw_data1.head(10)

#raw_data1['created_id'].head(100)
#raw_data1['created_id'].describe()
#raw_data1['stage_updated_at_parsed'].hea
#test_features.columns
#train_features1['source_id'].unique()
#train_features1 = train_features
#Fd_Test['actual_value'] = np.where(Fd_Test['leadstage'] == 'Won', 1,0 )
#train_features1['source_id'] = np.where(train_features1['source_id'] == '\\N','',train_features1['source_id'])

In [81]:
temp = pd.DataFrame(raw_data.groupby('deal_id')['related_contacts_ID'].count())
temp['related_contacts_ID'].quantile()

1.0

In [83]:
np.percentile(temp['related_contacts_ID'],99, axis=0)

24.0

In [148]:
raw_data1['deal_Stage'].unique()

array(['Won', 'Lost'], dtype=object)

In [195]:
raw_data1['created_id'].describe()

count         144736
unique             1
top       2017-02-13
freq          144736
Name: created_id, dtype: object

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'